# Visual Studio 2015 user specific files
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app
*.ipa

#Signature files
*.pdb
*.ilk
*.filters
*.lastbuildstate
*.user
*.idb
*.recipe

#Log
*.tlog
*.log

#DatabaseWrapper
DatabaseWrapper/DatabaseWrapper/bin/*
DatabaseWrapper/DatabaseWrapper/obj/*

#APIServer
DatabaseWrapper/APIServer/bin/*
DatabaseWrapper/APIServer/obj/*

